# SPDX-FileCopyrightText: 2019-2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0
services:
  os2sync_export:
    build:
      context: .
    env_file:
      - docker.env
    command: "uvicorn os2sync_export.main:create_app --host 0.0.0.0 --reload"
    ports:
      - 127.0.0.1:8000:8000/tcp
    volumes:
      - ./os2sync_export:/app/os2sync_export
    networks:
      - os2mo_default

networks:
  os2mo_default:
    external: true
