# SPDX-FileCopyrightText: Magenta ApS
#
# SPDX-License-Identifier: MPL-2.0
[tool.poetry]
name = "os2sync_export"
version = "0.0.0" # versioning handled by conventional commits
description = "Integration from OS2mo to OS2Sync"
authors = ["Magenta ApS <info@magenta.dk>"]
license = "MPL-2.0"
homepage = "https://magenta.dk/"
repository = "https://git.magenta.dk/rammearkitektur/os2mo-data-import-and-export"
keywords = ["os2mo", "dipex", "os2sync"]

[tool.poetry.dependencies]
python = "3.11.*"
more-itertools = "^9.1.0"
Jinja2 = "^3.1"
pydantic = "^1.10.9"
sentry-sdk = "^1.26.0"
setuptools = "^67.8.0"
tenacity = "^8.1.0"
fastapi = "^0.97.0"
requests = "^2.31.0"  # only used in the old lora cache
click = "^8.1.3"
gql = "^3.4.1"
raclients = "^3.1.4"
parameterized = "^0.9.0"
pytest = "^7.3.2"
ra-utils = {extras = ["prometheus-client"], version = "^1.13.9"}
uvicorn = "^0.22.0"
prometheus-fastapi-instrumentator = "^6.0.0"
fastramqpi = "^1.4.3"

[tool.poetry.dev-dependencies]
pytest = "^7.3.2"
pre-commit = "^3.2.2"

[tool.poetry.group.dev.dependencies]
parameterized = "^0.9.0"
hypothesis = "^6.75.3"
pytest-cov = "^4.1.0"
pytest-split = "^0.8.1"
pytest-asyncio = "^0.21.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.flake8]
max-line-length = 100
extend-ignore = "E203, E501"
statistics = "true"
